.wpbloqs-list {
}
.wpbloqs-inline-list {
  list-style: none;
  margin-bottom: 0;
  li {
    display: inline-block;
    a {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      i {
        margin-right: 5px;
      }
    }
  }
}
