.wpbloqs-inline-list {
  list-style: none;
}
.wpbloqs-inline-list li {
  display: inline-block;
}
.wpbloqs-inline-list li a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.wpbloqs-inline-list li a i {
  margin-right: 5px;
}